body {
    background-color: black;
    margin: 0;
}

button {
    position: fixed;
    left: 50%;
    top: 50%;
}

text {
    font-size: 50px;
    position: fixed;
    left: 46%;
    top: 40%;
}
